/* PAGINA DISCOGRAFIA*/
    
.bg-discografia {
    background-image: url(../img/bg-discografia.jpg);
    background-size: cover;
    min-height:550px;
    background-position:top center;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
    color:$blanco;
    font-weight:600;
    font-size:4em;
    margin-top: 350px;
    }
    
}
.discografia {
h2 {
    font-size:2em;
    margin:20px 0px;
}
h3 {
    font-size:1em;
    margin:10px 0px;
}
a {
    color:$rojo;
    font-size:1.2em;
    margin-bottom:15px;
    transition: 1s;
    text-decoration:none;
    &:hover {
        color: $negro;
        text-decoration: underline;
        letter-spacing: 1px;
        }
    }
}