    /* PAGINA FOTO Y VIDEO*/
    
    .bg-foto-video {
        background-image: url(../img/bg-foto-video.jpg);
        background-size: cover;
        min-height:550px;
        background-position:top center;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom:30px;
        h1 {
        color:$blanco;
        font-weight:600;
        font-size:4em;
        margin-top:350px;
        text-align:center;
        }
}