/* Elementos Header */

header{
    background-color: #000000;
    position:sticky;
    top:0px;
}

.logo {
    width:20%;
    }


.menu {
    color:$blanco;
    &:hover {
        color: $rojo;
        text-decoration: underline;
        }
    &:active {
        color: $rojo;
        text-decoration: underline;
        }
    }

 @media (min-width: 992px) {
    
        .navbar-expand-lg .navbar-collapse {
            justify-content: flex-end;
        }
        }
    
    
 @media (max-width: 480px) {
    .logo {
            width:50%;
            }
    
        }
    
    .navbar-toggler {
        background-color:#ce0000;
    }