@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%; /*1rem = 10px*/
  font-family: "Poppins", sans-serif;
}

h1 h2 h3 h4 h5 h6 {
  font-family: Poppins;
}

body {
  font-size: 1.3em;
  font-family: "Poppins", sans-serif;
}

img {
  width: 100%;
}

/* Elementos Header */
header {
  background-color: #000000;
  position: sticky;
  top: 0px;
}

.logo {
  width: 20%;
}

.menu {
  color: #ffffff;
}
.menu:hover {
  color: #ce0000;
  text-decoration: underline;
}
.menu:active {
  color: #ce0000;
  text-decoration: underline;
}

@media (min-width: 992px) {
  .navbar-expand-lg .navbar-collapse {
    justify-content: flex-end;
  }
}
@media (max-width: 480px) {
  .logo {
    width: 50%;
  }
}
.navbar-toggler {
  background-color: #ce0000;
}

/* PÁGINA HOME*/
/* Estilos Slider */
.slider-title {
  font-size: 3em;
  font-weight: 700;
}

.d-md-block {
  display: block !important;
  top: 50%;
}

@media (max-width: 480px) {
  .slider-title {
    font-size: 1.5em;
    font-weight: 700;
    line-height: 1em;
  }
  .d-md-block {
    display: block !important;
    top: 35%;
  }
}
/* Estilos presentación */
.presentacion {
  background-color: #ce0000;
  color: black;
  padding: 20px;
  text-align: center;
}
.presentacion h1 {
  font-weight: 300;
  font-size: 1.5em;
}

.items {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: top;
  padding: 20px;
}

/* Estilos Recomendado */
.recomendado {
  margin-top: 30px;
  margin-bottom: 30px;
}
.recomendado h2 {
  color: #ce0000;
  font-weight: 800;
  font-size: 2em;
}
.recomendado h3 {
  font-weight: 800;
  font-size: 3em;
  margin: 20px 0px;
}
.recomendado p {
  margin-top: 15px;
}

@media (max-width: 480px) {
  .recomendado h2 {
    color: #ce0000;
    font-weight: 800;
    font-size: 1.5em;
  }
  .recomendado h3 {
    font-weight: 800;
    font-size: 2.5em;
  }
}
/* Slider noticias Home */
.slider-noticias {
  background-color: #000000;
  padding: 20px;
  display: flexbox;
  align-items: row;
}
.slider-noticias h2 {
  color: #ffffff;
  font-size: 4em;
}
.slider-noticias h3 {
  color: #ce0000;
  padding: 10px 0px;
  font-weight: 800;
}
.slider-noticias p {
  color: #ffffff;
}
.slider-noticias button {
  color: #ffffff;
  background-color: #ce0000;
  padding: 10px 20px;
  border-radius: 50px;
  border: 0px;
  margin-bottom: 15px;
}

/* Foto Home */
.foto-home {
  background-image: url(../img/completa_02.jpg);
  height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

/* PAGINA BIO*/
.bg-bio {
  background-image: url(../img/bg-bio.jpg);
  background-size: cover;
  min-height: 550px;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-bio h1 {
  color: white;
  font-weight: 600;
  font-size: 4em;
  margin-top: 350px;
}

.bio01 {
  background-image: url(../img/charly-bio01.jpg);
  background-size: cover;
  min-height: 400px;
  background-position: center center;
}

.bio01-b {
  background-color: #ce0000;
  padding: 40px 20px;
  color: #ffffff;
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.bio02 {
  background-image: url(../img/charly-bio02.jpg);
  background-size: cover;
  padding: 100px 0px;
  min-height: 400px;
  background-position: center center;
}

.bio03 {
  background-image: url(../img/charly-bio03.jpg);
  background-size: cover;
  padding: 100px 0px;
  min-height: 400px;
  background-position: center center;
}

.bio03-b {
  background-color: #ffffff;
  padding: 40px 20px;
  color: rgb(6, 6, 6);
  font-size: 1.2em;
  display: flex;
  align-items: center;
}

.bio04 {
  background-image: url(../img/charly-bio05.jpg);
  background-size: cover;
  padding: 100px 0px;
  min-height: 400px;
  background-position: center center;
}

.bio05 {
  background-image: url(../img/charly-bio06.jpg);
  background-size: cover;
  padding: 100px 0px;
  min-height: 400px;
  background-position: center center;
}

.bio06 {
  background-image: url(../img/charly-bio11.jpg);
  background-size: cover;
  padding: 100px 0px;
  min-height: 400px;
  background-position: top center;
}

.bio06-b {
  background-color: #ffffff;
  padding: 40px 20px;
  color: rgb(6, 6, 6);
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
.bio06-b a {
  text-decoration: none;
}
.bio06-b button {
  background-color: #000000;
  padding: 20px;
  color: #ffffff;
  font-size: 1.2em;
  display: flex;
  align-items: center;
  border-radius: 50px;
  margin: 40px 0px;
}

.bio07 {
  background-image: url(../img/charly-bio03.jpg);
  background-size: cover;
  padding: 100px 0px;
  min-height: 400px;
  background-position: top center;
}

.frase {
  font-size: 3em;
  text-align: center;
  color: #ce0000;
  font-weight: 800;
  background-color: #000000;
  padding: 50px 25px;
  line-height: 1em;
}

.bajada-frase {
  color: #ffffff;
  font-size: 20px;
  font-weight: 300;
}

/* PAGINA NOTICIAS*/
.bg-noticias {
  background-image: url(../img/bg-noticias.jpg);
  background-size: cover;
  min-height: 550px;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-noticias h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 4em;
  margin-top: 350px;
}

.noticias {
  padding: 20px;
  display: flexbox;
  align-items: row;
}
.noticias h2 {
  color: #000000;
  font-size: 4em;
}
.noticias h3 {
  color: #ce0000;
  padding: 10px 0px;
  font-weight: 800;
}
.noticias p {
  color: #000000;
}
.noticias button {
  color: #ffffff;
  background-color: #ce0000;
  padding: 10px 20px;
  border-radius: 50px;
  border: 0px;
  margin-bottom: 15px;
}

.destacada {
  margin: 20px 0px;
}
.destacada h3 {
  color: #ce0000;
  padding: 10px 0px;
  font-size: 3em;
  font-weight: 800;
}

/* PAGINA DISCOGRAFIA*/
.bg-discografia {
  background-image: url(../img/bg-discografia.jpg);
  background-size: cover;
  min-height: 550px;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.bg-discografia h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 4em;
  margin-top: 350px;
}

.discografia h2 {
  font-size: 2em;
  margin: 20px 0px;
}
.discografia h3 {
  font-size: 1em;
  margin: 10px 0px;
}
.discografia button {
  color: #ffffff;
  background-color: #ce0000;
  padding: 5px 20px;
  font-size: 10px;
  border-radius: 50px;
  border: 0px;
  margin-bottom: 15px;
}

/* PAGINA FOTO Y VIDEO*/
.bg-foto-video {
  background-image: url(../img/bg-foto-video.jpg);
  background-size: cover;
  min-height: 550px;
  background-position: top center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}
.bg-foto-video h1 {
  color: #ffffff;
  font-weight: 600;
  font-size: 4em;
  margin-top: 350px;
  text-align: center;
}

/* Footer */
footer {
  background-color: #000000;
  color: #ffffff;
  padding: 40px 50px;
  margin: 0 auto;
}
footer p {
  font-size: 2rem;
  text-align: center;
}
footer ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
footer ul a {
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}
footer li {
  padding: 0px 5px 0px 0px;
}

.logo-footer {
  width: 250px;
  margin: auto;
}

/*# sourceMappingURL=styles.css.map */
